<head>
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 

        * {
            font-family: 'Open Sans';
        }

        table, th, td {
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
        }

        .Titulo {
            font-size: 16px;
            padding-left: 24px;
            height: 35px;
            font-weight: bold;
            width: 20%;
        }

    </style>
</head>
<body>
    <table id="Header">
        <tr >
            <th colspan="2"><h1>Relatório de vendas</h1></th>
        </tr>

        <tr>
            <td class="Titulo">CLIENTE: </td>
            <td>CLIENTE_VARIAVEL</td>
        </tr>

        <tr>
            <td class="Titulo">PERIODO VENDAS: </td>
            <td>PERIODO_VARIAVEL</td>
        </tr>
        
        <tr>
            <td class="Titulo">FILTROS: </td>
            <td>FILTROS_VARIAVEL</td>
        </tr>
    </table>
</body>
</html>